<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove">
  <div class="uk-card uk-card-default secondary-header uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
      <div class="uk-flex-last@s uk-card-media-right header-img uk-cover-container">
          <img src="assets/img/online-banner.jpg" alt="" uk-cover>
          <canvas></canvas>
      </div>
      <div>
          <div class="uk-card-body " style="background-color: #9dfd5d;">
              <p class="header-heading py-4"> online store</p>
              <p class="main-header">Create your online store, boost your sales and double your reach </p>
              <p class="header-starting-price py-3">As low as ₹899/mo.</p>
              <ul class="uk-list header-features">
                  <li> <span uk-icon="icon:check; ratio:0.8;"></span> Unlimited Products</li>
                  <li> <span uk-icon="icon:check; ratio:0.8;"></span> Beautiful Store.</li>
              </ul>
              <button
                  class="uk-button uk-margin-medium-bottom uk-button-primary uk-width-1-4@m uk-width-1-2@s uk-width-1-1 my-6">See
                  Pricing</button>
          </div>
      </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large uk-bg-pm">
  <div class="uk-slider-container-offset uk-padding-remove" uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-light features-slider" tabindex="-1">

      <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">


        <li>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="features-heading">Run your store 24*7.</p>
            <p class="features-details">It provides 24x7 support. Customers can enquire about a product or service and place orders anytime, anywhere from any location easily.            </p>
          </div>
        </li>

        <li>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="features-heading">Manage your store easily.</p>
            <p class="features-details">It supports "pull" type supply management. In "pull" type supply management, a business process starts when a request comes from a customer and it uses just-in-time manufacturing way.</p>
          </div>
        </li>

        <li>
          <div class="uk-card uk-padding-remove uk-card-body">
            <p class="features-heading">Safe & Secured</p>
            <p class="features-details">Our security guidelines that ensure safe transaction through the internet. It consists of protocols that safeguard people who engage in online selling and buying of goods and services.</p>
          </div>
        </li>
      </ul>


    </div>


  </div>
</div>

<div class="uk-container uk-container-medium uk-padding-large">
  <p class="pricing-header">pricing plans</p>
  <p class="pricing-title">Pricing Plans that scales <br> with your business.</p>
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-medium-top uk-text-center uk-grid-match"
      uk-grid>
      <div>
          <div class="uk-card price-grid uk-card-body">
              <p class="price-title">Start-Up</p>
              <p class="price-details uk-margin-remove-bottom">For start ups & individuals.</p>
              <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹2,399/<span>mo.</span></p>
              <p class="price-renew uk-margin-remove-top">₹ 2399/mo when you renew <sup> 4</sup></p>
              <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
              <hr class="price-hr">
              <div class="price-features">
                  <ul class="uk-list uk-list-disc uk-text-left">
                      <li>Minified CMS</li>
                      <li>4500 Products</li>
                      <li>50000 Visits/Mo</li>
                  </ul>
              </div>

          </div>
      </div>
      <div>
          <div class="uk-card price-grid uk-card-body">
              <p class="price-title">Deluxe</p>
              <p class="price-details uk-margin-remove-bottom">For Medium Scale business.</p>
              <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹4,299/<span>mo.</span></p>
              <p class="price-renew uk-margin-remove-top">₹ 4,299/mo when you renew <sup> 4</sup></p>
              <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
              <hr class="price-hr">
              <div class="price-features">
                  <ul class="uk-list uk-list-disc uk-text-left">
                      <li>Advance CMS</li>
                      <li>10000 Products</li>
                      <li>100000 Visits/Mo</li>
                  </ul>
              </div>

          </div>
      </div>
      <div>
          <div class="uk-card price-grid uk-card-body">
            <span class="pricing-offers uk-badge uk-float-right">Upto 40% Off</span>
              <p class="price-title">Enterprise</p>
              <p class="price-details uk-margin-remove-bottom">For large Companies.</p>
              <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹10,799/<span>mo.</span></p>
              <p class="price-renew uk-margin-remove-top">₹ 10,799.00/mo when you renew <sup> 4</sup></p>
              <button class="uk-button price-button m-0 uk-width-1-1">Add to Cart</button>
              <hr class="price-hr">
              <div class="price-features">
                  <ul class="uk-list uk-list-disc uk-text-left">
                      <li>Advance CMS</li>
                      <li>Unlimited Products</li>
                      <li>Unlimited Visits/Mo</li>
                  </ul>
              </div>

          </div>
      </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large  uk-bg-pm">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="assets/img/os-secondary.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <span class="uk-badge category-badge">Build your online store</span>
            <p class="cw-category-title uk-margin-small">Selling made easy.<span> Open your store and sell online</span> </p>
            <p class="cw-category-details uk-margin-remove-top">Companies with online stores have been able to reap the rewards while those without have been playing catchup, desperately trying to reconnect with their audience. The shift to e-commerce has been a setback for many brands. now it's easy to build your online store we build, you manage. our ecommerce solutions is one of world fastest and beautiful to work with. sign up for know more. </p>
        </div>
    </div>
</div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-white uk-overflow-auto">
  <table class="uk-table ">
    <thead>
      <tr>
        <th class="pt-plan-heading"></th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹2399.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹4299.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹10,799.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pt-plan-features">Free Custom Domain</td>
        <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Content Managment System (CMS)</td>
        <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Bandwidth</td>
        <td class="pt-plan-span">40,000 Visit Monthly</td>
        <td class="pt-plan-span">100,000 Visits Montly </td>
        <td class="pt-plan-span">Unlimited</td>
      </tr>
      <tr>
        <td class="pt-plan-features">Storage</td>
        <td class="pt-plan-span">Unlimited</td>
        <td class="pt-plan-span">Unlimited </td>
        <td class="pt-plan-span">Unlimited</td>
      </tr>
      <tr>
        <td class="pt-plan-features">Email</td>
        <td class="pt-plan-span">1</td>
        <td class="pt-plan-span">3 </td>
        <td class="pt-plan-span">5</td>
      </tr>

      <tr>
        <td class="pt-plan-features">Products</td>
        <td class="pt-plan-span">10,000</td>
        <td class="pt-plan-span">25,000 </td>
        <td class="pt-plan-span">Unlimited</td>
      </tr>
      <tr>
        <td class="pt-plan-features">Invoice</td>
        <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Staff Accounts</td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
          close
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">SSL (Security)</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Live Chat </td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Responsive</td>
        <td class="pt-plan-span">Working Hours </td>
        <td class="pt-plan-span">Working Hours </td>
        <td class="pt-plan-span">Premium Support </td>
      </tr>
      <tr>
        <td class="pt-plan-features">Google Analytics</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Reports </td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Support</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Currency Convert </td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Multi-Language </td>
        <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      <td class="pt-plan-span"><span class="material-icons-round">
          done
        </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Transaction Fees </td>
        <td class="pt-plan-span">3 to 5%</td>
        <td class="pt-plan-span">3 to 5%</td>
        <td class="pt-plan-span">3 to 5%</td>
      </tr>
      <tr>
        <td class="pt-plan-features">Delivery </td>
        <td class="pt-plan-span">12 Days</td>
        <td class="pt-plan-span">21 Days</td>
        <td class="pt-plan-span">28 Days</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="uk-container uk-container-medium uk-padding-large">

  <p class="et-heading uk-margin-medium-bottom">Build your own online store</p>
  <div class="uk-child-width-1-1 uk-grid-small uk-child-width-1-4@m uk-text-center" uk-grid>
    <div>
        <div class="uk-card wt-grid uk-padding-small bg-white uk-card-body">
          <img src="assets/img/cosmetics.jpg" alt="" class="et-img">
          <p class="et-title">Makeup & Cosmetics</p>
        </div>
    </div>
    <div>
      <div class="uk-card wt-grid uk-padding-small bg-white uk-card-body">
        <img src="assets/img/fashion-clo.jpg" alt="" class="et-img">
        <p class="et-title">Fashion & Accesories</p>
      </div>
  </div>
  <div>
    <div class="uk-card wt-grid uk-padding-small bg-white uk-card-body">
      <img src="assets/img/grocery.jpg" alt="" class="et-img">
      <p class="et-title">Grocery</p>
    </div>
</div>
<div>
  <div class="uk-card wt-grid uk-padding-small bg-white uk-card-body">
    <img src="assets/img/moder-elec.jpg" alt="" class="et-img">
    <p class="et-title">Electronic Devices</p>
  </div>
</div>
</div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove uk-bg-pr">
  <div class="uk-container uk-container-medium uk-padding-large">
      <p class="promo-header uk-align-center">Want to start you online shopping store? </p>
      <button class="uk-button uk-button-promo uk-align-center">Read More</button>
  </div>
</div>
<app-footer></app-footer>
