<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove bg-white">
  <div class="uk-container uk-container-medium uk-padding-large">
    <p class="about_us-header uk-align-center uk-margin-remove-bottom">
      We help to implement your ideas into automation !
    </p>
    <p class="about_us-subheader uk-margin-small-top uk-align-center">
      We are web agency who believe in connecting people to ideas through the power of thoughtful design !.
    </p>
    <p class="about-us_demos uk-margin-large-bottom">
      <a href="" class="uk-button about-us_gs">Get Started</a>
      <a href="" class="uk-button uk-button-text about-us_dms">Watch Short Film </a>
    </p>
  </div>

</div>
<div class="uk-container uk-container-medium about-slider_container">
  <div class="uk-text-center" uk-grid>

    <div class="uk-width-expand@m">
      <div class="uk-card uk-padding-small uk-card-body">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

          <ul class="uk-slider-items  uk-child-width-1-2 uk-child-width-1-5@m uk-grid">
            <li>
              <div class="uk-panel">
                <img src="assets/logo/azure.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/twilio.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/google.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/cf.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/hubspot.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/stripe.png" alt="">
              </div>
            </li>
            <li>
              <div class="uk-panel">
                <img src="assets/logo/microsoft.png" alt="">
              </div>
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-medium">
  <div class="uk-text-center uk-grid-match uk-grid-collapse uk-grid-match" uk-grid>

    <div class="uk-width-expand@m">
      <div class="uk-card uk-card-body uk-padding-remove-horizontal">
        <p class="o_mission-header"> <span>Our Mission: </span> To get your business online with website in gear.
        </p>
        <p class="o_mission-subheader">Since our founding in 2018, we have built a reputation for designing and
          developing high quality, innovative website for startups and established brands that offer their end-users the
          best possible experience.
        </p>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-padding-remove uk-card-body">
        <img src="assets/1.jpg" class="o_mission-img" alt="">
      </div>
    </div>
  </div>

</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-white uk-margin-large-top">
  <p class="o_mission-title uk-margin-medium-bottom">Our Team</p>
  <div class="uk-container uk-container-small">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-grid-small" uk-grid>
      <div>
        <div class="uk-card o_mission-grid uk-card-body">
          <img class="uk-border-pill uk-align-center" src="assets/fc-avatar.jpg" width="130" height="130"
            alt="Border pill">
          <p class="ot-name">Abdul Kumshey</p>
          <p class="ot-title">founder & ceo</p>
          <p class="ot-icon uk-margin-small-top">
            <a href="" uk-icon="icon: facebook;ratio: 0.8"></a>
            <a href="" uk-icon="icon: twitter;ratio: 0.8"></a>
            <a href="" uk-icon="icon: linkedin;ratio: 0.8"></a>
            <a href="" uk-icon="icon: instagram;ratio: 0.8"></a>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card o_mission-grid uk-card-body">
          <img class="uk-border-pill uk-align-center" src="assets/fc-avatar.jpg" width="130" height="130"
            alt="Border pill">
          <p class="ot-name">Sauban Sada</p>
          <p class="ot-title">founder & ceo</p>
          <p class="ot-icon uk-margin-small-top">
            <a href="" uk-icon="icon: facebook;ratio: 0.8"></a>
            <a href="" uk-icon="icon: twitter;ratio: 0.8"></a>
            <a href="" uk-icon="icon: linkedin;ratio: 0.8"></a>
            <a href="" uk-icon="icon: instagram;ratio: 0.8"></a>
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card o_mission-grid uk-card-body">
          <img class="uk-border-pill uk-align-center" src="assets/fc-avatar.jpg" width="130" height="130"
            alt="Border pill">
          <p class="ot-name">Anwar Khalifa</p>
          <p class="ot-title">founder & ceo</p>
          <p class="ot-icon uk-margin-small-top">
            <a href="" uk-icon="icon: facebook;ratio: 0.8"></a>
            <a href="" uk-icon="icon: twitter;ratio: 0.8"></a>
            <a href="" uk-icon="icon: linkedin;ratio: 0.8"></a>
            <a href="" uk-icon="icon: instagram;ratio: 0.8"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large uk-margin-remove-bottom">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/1.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <p class="aboutus-title"> <span>About Us: </span> To get your business online with website in gear.
        </p>
        <p class="aboutus-details">Since our founding in 2018, we have built a reputation for designing and
          developing high quality, innovative website for startups and established brands that offer their end-users the
          best possible experience.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large bg-white">
  <ul class="uk-subnav uk-subnav-pill projects-switcher uk-flex-center"
    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
    <li><a href="#">Soon Projects</a></li>
    <li><a href="#">Upcoming Projects</a></li>
  </ul>

  <ul class="uk-switcher uk-margin-large-top">
    <li>
      <div class="uk-child-width-1-2 uk-child-width-1-6@m uk-text-center uk-flex-center" uk-grid>
        <div>
            <div class="uk-card uk-card-body projects-grid uk-text-center">
              <img src="assets/png/crm.png" class="projects-icon uk-align-center" alt="">
              <p class="projects-title">CRM</p>
            </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/hrm.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">HRM</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/helpdesk.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">HelpDesk</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/bill.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">Billing</p>
          </div>
        </div>
    </div>
    </li>
    <li>
      <div class="uk-child-width-1-2 uk-child-width-1-6@m uk-text-center uk-flex-center uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-body projects-grid uk-text-center">
              <img src="assets/png/tea.png" class="projects-icon uk-align-center" alt="">
              <p class="projects-title">Tea</p>
            </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/lawsearch.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">Lawyer Search</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/webtheme.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">Web Templates</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/newsapp.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">News App</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/respos.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">Restaurant POS</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body projects-grid uk-text-center">
            <img src="assets/png/delivery.png" class="projects-icon uk-align-center" alt="">
            <p class="projects-title">Food Delivery</p>
          </div>
        </div>
    </div>
    </li>
  </ul>


  <p class="invest-note">For investment on our upcoming projects you can contact us <a href="">Here</a></p>
</div>
<app-footer></app-footer>
