<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove bg-white">
  <div class="uk-container uk-container-small uk-padding-large cartlinks-box">
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
      <div>
        <div class="uk-card cart-nextlinks active uk-padding-small uk-card-body">
          <p class="cartlinks">Shopping Cart</p>
        </div>
      </div>
      <div>
        <div class="uk-card cart-nextlinks uk-padding-small uk-card-body">
          <p class="cartlinks">checkout</p>
        </div>
      </div>
      <div>
        <div class="uk-card cart-nextlinks uk-padding-small uk-card-body">
          <p class="cartlinks">Order Complete</p>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-container cart-container uk-container-large uk-margin-large-bottom">
    <div class="uk-text-center" uk-grid>
      <div class="uk-width-expand@m">
        <div class="uk-card uk-card-body uk-padding-remove uk-margin-large-bottom ">
          <table class="uk-table uk-text-left">
            <thead class="th_cart">
              <tr>
                <th>NAME</th>
                <th>TERMS</th>
                <th>TOTAL
                </th>
                <th class="uk-padding-remove-vertical"><button class="uk-button uk-padding-remove uk-float-right"><span
                      uk-icon="icon:close;ratio:0.6"></span></button></th>
              </tr>
            </thead>
            <tbody class="tb_cart">
              <tr>
                <td>Basic Website</td>
                <td>
                  <div class="tbc_terms" uk-form-custom="target: true">
                    <select>
                      <option value="1">1 Years </option>
                      <option value="2">3 Years</option>
                      <option value="3">5 years</option>
                    </select>
                    <span></span>
                  </div>
                </td>
                <td class="tbc_price"><span>₹7899</span></td>
                <td class="tbc_close uk-padding-remove-bottom"><button
                    class="uk-button uk-padding-remove uk-float-right"><span
                      uk-icon="icon:close;ratio:0.6"></span></button></td>
              </tr>
            </tbody>
          </table>
          <form class="uk-grid-small" uk-grid>
            <div class="uk-width-1-3@s">
              <input class="uk-input cart-input" type="text" placeholder="Enter coupon code">
            </div>
            <div class="uk-width-1-5@m">
              <button class="uk-button cart-submit uk-width-1-1">apply coupon</button>
            </div>
          </form>
        </div>
      </div>
      <div class="uk-width-1-4@m uk-margin-remove-top">
        <div class="uk-card infocart-grid uk-padding-small uk-card-body">
          <p class="order-summary">Order Summary</p>
          <table class="uk-table uk-table-striped uk-table-small uk-text-left tds_summary">
            <caption></caption>
            <tbody>
              <tr>
                <td>Subtotal</td>
                <td class="price">₹ 7,699.40</td>
              </tr>
              <tr>
                <td>Coupon <span>[test]</span> <span uk-icon="icon: close; ratio: 0.6;"></span></td>
                <td class="price">- ₹3,079.40</td>
              </tr>
              <tr class="total">
                <td>Total </td>
                <td class="price">₹4,619.40</td>
              </tr>
            </tbody>
          </table>
          <button routerLink="/checkout" class="uk-button cart-submit uk-width-1-1 uk-button-small">Proceed to Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
