
.features-heading {
  color: white;
  font-size: 14pt;
  text-align: left;
  margin-bottom: 18px;
}

.features-details {
  font-size: 10pt;
  color: white;
  text-align: left;
}

.wt-grid {
  border-radius: 6px;
}

.wt-title {
  font-size: 14pt;
  color: black;
  font-weight: 600;
  text-align: left;
}

.wt-details {
  font-size: 10pt;
  text-align: left;
  color: black;
  margin-top: 4px;
}

