<app-topnav></app-topnav>
<div class="uk-child-width-expand uk-text-center" uk-grid>
  <div>
    <div class="uk-card navbar-header-1 uk-card-body">
      <p class="header-title">Your website is just the beginning</p>
      <p class="header-subtitle mb-4">* Create a website for your business with unlimited hosting and free domain worth
        ($25)</p>
      <a href="" class="uk-button uk-button-default">Get Started</a>
    </div>
  </div>
</div>

<div class="uk-child-width-expand@m uk-text-center" uk-grid>
  <div class="home-grid-column">
    <div class="uk-card uk-align-center home-grid-image uk-padding-remove uk-card-body">
      <img src="assets/website.png" alt="">
    </div>
  </div>
</div>

<div class="uk-container uk-container-large uk-padding-large" style="background-color: white;">
  <div class="uk-card feature-grid uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/1.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-remove-left">
        <p class="feature-grid-title mb-2">Grow your business with beautiful website ! Boost your sales</p>
        <p class="feature-grid-details my-2">A well designed, informative and updated website will add
          credibility to your business and strengthen your brand. If you want to be successful for your
          company in the modern marketplace, you’ve got to have a professional website. The importance of
          a website for marketing extends to every aspect of your digital marketing strategy.</p>
        <p class="feature-grid-quote my-6">57% of internet users say they won’t recommend a business with a
          poorly designed website on mobile.</p>

        <a href="#" class="uk-button uk-button-primary">Get Started</a>
      </div>
    </div>
  </div>

</div>
<div class="uk-container uk-container-medium">
  <p class="template-title uk-margin-large-top uk-margin-remove-bottom">Made by Experts </p>
  <p class="template-subtitle mt-2 uk-margin-remove-top uk-align-center">Create custom made website for your business
  </p>
  <div class="uk-child-width-1-2@s mt-10 uk-child-width-1-2@m uk-child-width-1-2@l uk-text-center"
    uk-grid="parallax: 150">
    <div>
      <div class="uk-card p-0 uk-card-body">
        <img src="assets/lawyers-1.jpg" class="template-img" alt="">
        <p class="p-5 template-category">Lawyers</p>
      </div>
    </div>
    <div>
      <div class="uk-card p-0 uk-card-body">
        <img src="assets/realestate.jpg" class="template-img" alt="">
        <p class="p-5 template-category">Construction & Real-Estate</p>
      </div>
    </div>
  </div>

</div>

<div class="uk-container uk-container-xlarge uk-padding-large uk-text-center xcs-banner">
  <p class="xcs-banner-title uk-margin-remove-bottom">Want to build your custom cloud solutions?</p>
  <p class="xcs-banner-subtitle uk-margin-remove-top">Build your own business erp and much more with XCS.</p>
  <a href="" class="uk-button uk-button-default mt-4">Know More</a>
</div>

<div class="uk-container uk-container-large uk-padding-large">
  <div class="uk-card feature-grid uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/online-store-home.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body  ecom-ft-grid">
        <p class="feature-grid-title mb-2">Sell your products online</p>
        <p class="feature-grid-details my-2">When you sell online, your business is open 24/7/365. Even though your customer support may be sleeping, automation ensures that the rest of the sales process is always flowing and consumers can buy on any day, at any time. Selling direct online increases your reach. With an online store, your profits are no longer limited by the number of customers that can physically visit your brick and mortar location. You can sell across towns, states, and even across borders, removing all geographical limitations. </p>
        <p class="feature-grid-quote mb-4 max-w-lg">By the year 2040, it’s estimated that 95% of all purchases will be through eCommerce.
        </p>

        <a href="#" class="uk-button uk-button-primary">Get Started</a>
      </div>
    </div>
  </div>


  <div class="uk-container uk-container-medium">
    <p class="ecommerce-banner-heading uk-margin-medium-top">Sell Products Online</p>

    <div
      class="uk-child-width-1-2 uk-child-width-1-5@m uk-text-center uk-flex-center uk-grid-small ecommerce-category uk-margin-medium-top"
      uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/img/fashion.jpg" alt="">
          <p class="my-4">Fashion & Clothing</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/img/realestate.jpg" alt="">
          <p class="my-4">Real Estate & Construction</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/img/electronics.jpg" alt="">
          <p class="my-4">Electronics</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/img/doctors.jpg" alt="">
          <p class="my-4">Doctors & Hospital</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/img/make-up.jpg" alt="">
          <p class="my-4">Cosmetics & Make Up</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge bg-white uk-padding-large pb-0">
  <div class="uk-card bg-white uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/hw-billing.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body hw-branding-grid">
        <p class="hw-branding-title">Track your business growth with smart billing</p>
        <p class="uk-text-middle hw-branding-details">One of the major components of a brand is a logo because, as the “face” of a business, it’s what people instantly recognize. A professional logo design is simple enough to be memorable, but powerful enough to give the desired impression of your company. Branding can also help a business get word-of-mouth referrals. After all, would a client be able to tell a friend about Discover, Learn & Grow if they couldn’t remember the brand of the learning center? The most profitable companies, small and large, have a single thing in common.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge " style="background-color: white;">
  <div class="uk-container uk-container-medium uk-padding-medium">
    <p class="hw-pos-heading uk-margin-large-bottom uk-margin-large-top"> Give a creative look for your brand
    </p>
    <div
      class="uk-child-width-1-2@s uk-grid-match uk-child-width-1-3@m uk-text-center uk-margin-medium-top uk-grid-large uk-grid-small@s uk-flex-center"
      uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img class="logo-price-img" src="assets/logo-banner.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="uk-card logo-price-grid uk-card-body">
          <p class="logo-price-title uk-margin-remove-bottom">Silver</p>
          <p class="logo-price-details my-4">For small companies or individual</p>
          <p class="logo-price-features uk-marging-small"><span uk-icon="icon: check; ratio: 0.6;"></span>Combination of
            logo mark and word mark.</p>
          <hr class="logo-price-hr my-5">
          <a href="" class="uk-button uk-button-primary uk-width-1-1">Choose Package</a>
        </div>
      </div>
      <div>
        <div class="uk-card logo-price-grid uk-card-body">
          <p class="logo-price-title uk-margin-remove-bottom">Silver</p>
          <p class="logo-price-details uk-margin-small-top">For small companies or individual</p>
          <p class="logo-price-features uk-marging-small"><span uk-icon="icon: check; ratio: 0.6;"></span>Combination of
            logo mark and word mark.</p>
            <hr class="logo-price-hr my-5">
          <a href="" class="uk-button uk-button-primary uk-width-1-1">Choose Package</a>
        </div>
      </div>
    </div>
    <p class="uk-short-heading uk-margin-large-top">our industry partners</p>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

      <ul
        class="uk-slider-items partners-list uk-child-width-1-2 uk-child-width-1-5@m uk-grid uk-margin-small-top uk-margin-large-bottom">
        <li>
          <div class="uk-panel">
            <img src="assets/logo/gc.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="assets/logo/twilio.png" alt="">
          </div>
        </li>

        <li>
          <div class="uk-panel">
            <img src="assets/logo/cf.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="assets/logo/hubspot.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="assets/logo/stripe.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="assets/logo/gc.png" alt="">
          </div>
        </li>
      </ul>


    </div>
  </div>
</div>

<div class="uk-container uk-padding-large uk-padding-remove-top uk-container-xlarge" style="background-color: white;">
  <div class="uk-container faq-container uk-container-small">
    <p class="hw-pos-heading uk-margin-large-bottom">Frequently asked question?</p>
    <ul class="faq-accord" uk-accordion="collapsible: false">
      <li>
        <a class="uk-accordion-title" href="#">Item 1</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Item 2</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Item 3</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
