<app-topnav></app-topnav>
<div class="uk-child-width-expand uk-text-center" uk-grid>
  <div>
    <div class="uk-card navbar-header-1 uk-card-body">
      <p class="header-title">Your website is just the beginning</p>
      <p class="header-subtitle mb-4">* Create a website for your business with unlimited hosting and free domain worth
        ($25)</p>
      <a href="" class="uk-button uk-button-default">Get Started</a>
    </div>
  </div>
</div>

<div class="uk-child-width-expand@m uk-text-center" uk-grid>
  <div class="home-grid-column">
    <div class="uk-card uk-align-center home-grid-image uk-padding-remove uk-card-body">
      <img src="assets/website.png" alt="">
    </div>
  </div>
</div>

<div class="uk-container uk-container-large uk-padding-large" style="background-color: white;">
  <div class="uk-card feature-grid uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/1.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body uk-padding-remove-left">
        <p class="feature-grid-title mb-2">Grow your business with beautiful website ! Boost your sales</p>
        <p class="feature-grid-details my-2">A well designed, informative and updated website will add
          credibility to your business and strengthen your brand. If you want to be successful for your
          company in the modern marketplace, you’ve got to have a professional website. The importance of
          a website for marketing extends to every aspect of your digital marketing strategy.</p>
        <p class="feature-grid-quote my-6">57% of internet users say they won’t recommend a business with a
          poorly designed website on mobile.</p>

        <a href="#" class="uk-button uk-button-primary">Get Started</a>
      </div>
    </div>
  </div>

</div>
<div class="uk-container uk-container-medium">
  <p class="template-title uk-margin-large-top uk-margin-remove-bottom">Made by Experts </p>
  <p class="template-subtitle mt-2 uk-margin-remove-top uk-align-center">Create custom made website for your business
  </p>
  <div class="uk-child-width-1-2@s mt-10 uk-child-width-1-2@m uk-child-width-1-2@l uk-text-center"
    uk-grid="parallax: 150">
    <div>
      <div class="uk-card p-0 uk-card-body">
        <img src="assets/lawyers-1.jpg" class="template-img" alt="">
        <p class="p-5 template-category">Lawyers</p>
      </div>
    </div>
    <div>
      <div class="uk-card p-0 uk-card-body">
        <img src="assets/realestate.jpg" class="template-img" alt="">
        <p class="p-5 template-category">Construction & Real-Estate</p>
      </div>
    </div>
  </div>

</div>

<div class="uk-container uk-container-xlarge uk-padding-large uk-text-center xcs-banner">
  <p class="xcs-banner-title uk-margin-remove-bottom">Want to build your custom cloud solutions?</p>
  <p class="xcs-banner-subtitle uk-margin-remove-top">Build your own business erp and much more with XCS.</p>
  <a href="" class="uk-button uk-button-default mt-4">Know More</a>
</div>

<div class="uk-container uk-container-large uk-padding-large">
  <div class="uk-card feature-grid uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/online-store-home.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body  ecom-ft-grid  uk-padding-remove-right">
        <p class="feature-grid-title mb-2">Sell products online</p>
        <p class="feature-grid-details my-2">When you sell online, your business is open 24/7/365. Even though your customer support may be sleeping, automation ensures that the rest of the sales process is always flowing and consumers can buy on any day, at any time. Selling direct online increases your reach. With an online store, your profits are no longer limited by the number of customers that can physically visit your brick and mortar location. You can sell across towns, states, and even across borders, removing all geographical limitations. </p>
        <p class="feature-grid-quote mb-4 max-w-lg">By the year 2040, it’s estimated that 95% of all purchases will be through eCommerce.
        </p>

        <a href="#" class="uk-button uk-button-primary">Get Started</a>
      </div>
    </div>
  </div>


  <div class="uk-container uk-container-medium">
    <p class="ecommerce-banner-heading uk-margin-medium-top">Sell Products Online</p>

    <div
      class="uk-child-width-1-2 uk-child-width-1-5@m uk-text-center uk-flex-center uk-grid-small ecommerce-category uk-margin-medium-top"
      uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="assets/banner-1.jpg" alt="">
          <p>Fashion & Clothing</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="img/fashion-set.jpg" alt="">
          <p>Real Estate & Construction</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="img/electric.jpg" alt="">
          <p>Electronics</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="img/foods.jpg" alt="">
          <p>Event Booking</p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img src="img/home-appli.jpg" alt="">
          <p>Cosmetics & Make Up</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge p-0 ">
  <div class="uk-card bg-white uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/2.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <p class="uk-text-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-xlarge " style="background-color: white;">
  <div class="uk-container uk-container-medium uk-padding-medium">
    <p class="hw-pos-heading uk-margin-large-bottom uk-margin-large-top"> Give a creative look for your brand
    </p>
    <div
      class="uk-child-width-1-2@s uk-grid-match uk-child-width-1-3@m uk-text-center uk-margin-medium-top uk-grid-large uk-grid-small@s uk-flex-center"
      uk-grid>
      <div>
        <div class="uk-card uk-padding-remove uk-card-body">
          <img class="logo-price-img" src="assets/logo-banner.jpg" alt="">
        </div>
      </div>
      <div>
        <div class="uk-card logo-price-grid uk-card-body">
          <p class="logo-price-title uk-margin-remove-bottom">Silver</p>
          <p class="logo-price-details uk-margin-small-top">For small companies or individual</p>
          <p class="logo-price-features uk-marging-small"><span uk-icon="icon: check; ratio: 0.6;"></span>Combination of
            logo mark and word mark.</p>
          <hr class="logo-price-hr my-5">
          <a href="" class="uk-button uk-button-primary uk-width-1-1">Choose Package</a>
        </div>
      </div>
      <div>
        <div class="uk-card logo-price-grid uk-card-body">
          <p class="logo-price-title uk-margin-remove-bottom">Silver</p>
          <p class="logo-price-details uk-margin-small-top">For small companies or individual</p>
          <p class="logo-price-features uk-marging-small"><span uk-icon="icon: check; ratio: 0.6;"></span>Combination of
            logo mark and word mark.</p>
            <hr class="logo-price-hr my-5">
          <a href="" class="uk-button uk-button-primary uk-width-1-1">Choose Package</a>
        </div>
      </div>
    </div>
    <p class="uk-short-heading uk-margin-large-top">our industry partners</p>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

      <ul
        class="uk-slider-items partners-list uk-child-width-1-2 uk-child-width-1-5@m uk-grid uk-margin-small-top uk-margin-large-bottom">
        <li>
          <div class="uk-panel">
            <img src="img/logo/gc.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="img/logo/twilio.png" alt="">
          </div>
        </li>

        <li>
          <div class="uk-panel">
            <img src="img/logo/cf.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="img/logo/hubspot.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="img/logo/stripe.png" alt="">
          </div>
        </li>
        <li>
          <div class="uk-panel">
            <img src="img/logo/gc.png" alt="">
          </div>
        </li>
      </ul>


    </div>
  </div>
</div>

<div class="uk-container uk-padding-large uk-padding-remove-top uk-container-xlarge" style="background-color: white;">
  <div class="uk-container faq-container uk-container-small">
    <p class="hw-pos-heading uk-margin-large-bottom">Frequently asked question?</p>
    <ul class="faq-accord" uk-accordion="collapsible: false">
      <li>
        <a class="uk-accordion-title" href="#">Item 1</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Item 2</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title" href="#">Item 3</a>
        <div class="uk-accordion-content faq-accord-div">
          <p class="faq-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="uk-container uk-padding-large uk-container-large ">
  <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-collapse uk-text-center" uk-grid>
      <div>
          <div class="uk-card  uk-card-body uk-text-left">
              <p class="contact-banner-title uk-heading-bullet mb-4">Contact us</p>
              <p class="contact-banner-heading my-4">Any type of query & Discussion</p>
              <p class="contact-banner-subheading my-4">Any question or remarks? Just write us a message.</p>
              <a href="#" class="contact-linked-href">support@xevello.com</a>
          </div>
      </div>
      <div>
          <div class="uk-card  uk-card-body uk-text-left">
              <p class="hw-contact-heading">You can't use up creativity, the more you use, more you have in your
                  signifant mind</p>
              <p class="contact-banner-subheading mt-4">Any question or remarks? Just write us a message.</p>
          </div>
      </div>
  </div>
</div>
<div class="footer-container uk-container uk-container-xlarge  uk-margin-remove">
  <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-grid-collapse" uk-grid>
      <div>
          <div class="uk-card uk-card-body uk-text-left">
              <svg version='1.1' class="mb-3" id='Layer_1' xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 325 85'
                  style='enable-background:new 0 0 325 85;' xml:space='preserve'>
                  <style type='text/css'>
                      .st0 {
                          fill: #ff8000;
                      }
                  </style>
                  <g>
                      <path id='XMLID_3_' class='st0' d='M16.1,73.2l12.4-17L40,61.4l-8.6,11.7H16.1z M48.4,50l17.2,23.2H50.3l0,0l-17-23l-17-23.7h7.4
 c4.8,0,9.1,2.4,11.5,6.5l5.5,9.3l9.6-15.8h15.3h-0.2L48.4,50z' />
                      <path id='XMLID_6_' class='st0' d='M85.5,25.8c3.3,0,6.5,0.7,9.3,1.9c2.9,1.2,5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,1.9-0.2,3.6-0.5,5.3v0.2H85.5l-2.9-4.8c-1.2-2.2,0.2-4.8,2.6-4.8h12c-1-2.6-2.4-4.8-4.3-6.5
 c-1.9-1.7-4.3-2.6-7.2-2.6c-1.7,0-3.3,0.2-4.8,1s-2.9,1.7-3.8,2.6c-1.2,1.2-1.9,2.4-2.6,4.1c-0.7,1.7-1,3.3-1,5.3
 c0,1.4,0.2,2.9,1,4.3c0.5,1.4,1.4,2.9,2.4,4.1c1,1.2,2.4,2.4,3.8,3.1c1.4,0.7,3.1,1.2,5,1.2c1.7,0,3.1-0.2,4.5-0.7
 c1.4-0.5,2.6-1.4,4.1-3.1l0,0h0.2l10.8,4.8l-0.2,0.2c-3.1,4.3-7.2,7.2-12.7,9.1c-1.2,0.5-2.6,0.7-3.8,0.7c-4.5,0.5-8.6,0-12.4-1.7
 c-2.9-1.2-5.5-2.9-7.7-5c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3s0.7-6.5,1.9-9.3c1.2-2.9,3.1-5.5,5.3-7.7
 c2.2-2.2,4.8-3.8,7.7-5.3C79,26.3,82.1,25.8,85.5,25.8z' />
                      <path id='XMLID_8_' class='st0' d='M120.6,26.5l12,33.7l-8.1,8.6L112.3,39C110.1,33,114.4,26.5,120.6,26.5L120.6,26.5L120.6,26.5z
  M146.2,26.5h13.2l-19.1,46.6h-10.8l3.8-10.8L146.2,26.5z' />
                      <path id='XMLID_11_' class='st0' d='M180.7,25.8c3.3,0,6.5,0.7,9.3,1.9s5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,1.9-0.2,3.6-0.5,5.3v0.2h-23.7l-2.6-4.1c-1.4-2.4,0.2-5.5,2.9-5.5h11.5c-1-2.6-2.4-4.8-4.3-6.5
 c-1.9-1.7-4.3-2.6-7.2-2.6c-1.7,0-3.3,0.2-4.8,1s-2.9,1.7-3.8,2.6c-1.2,1.2-1.9,2.4-2.6,4.1c-0.7,1.7-1,3.3-1,5.3
 c0,1.4,0.2,2.9,1,4.3c0.5,1.4,1.4,2.9,2.4,4.1c1,1.2,2.4,2.4,3.8,3.1c1.4,0.7,3.1,1.2,5,1.2c1.7,0,3.1-0.2,4.5-0.7
 c1.4-0.5,2.6-1.4,4.1-3.1l0,0h0.2l10.8,4.8l-0.2,0.2c-2.6,3.8-6.2,6.5-10.5,8.4c-2.6,1-5.5,1.7-8.1,1.7c-3.6,0-6.9-0.5-10.3-1.9
 c-2.9-1.2-5.5-2.9-7.7-5c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3c0-3.3,0.7-6.5,1.9-9.3c1.2-2.9,3.1-5.5,5.3-7.7
 c2.2-2.2,4.8-3.8,7.7-5.3C174,26.3,177.3,25.8,180.7,25.8z' />
                      <path id='XMLID_13_' class='st0' d='M221.8,7.9v65.3h-12.4V7.9H221.8z' />
                      <path id='XMLID_15_' class='st0' d='M239.7,7.9v65.3h-12.4V7.9H239.7z' />
                      <path id='XMLID_17_' class='st0'
                          d='M268.7,25.8c3.3,0,6.5,0.7,9.3,1.9c2.9,1.2,5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,3.3-0.7,6.5-1.9,9.3c-1.2,2.9-3.1,5.5-5.3,7.7c-2.2,2.2-4.8,3.8-7.7,5.3c-2.9,1.2-6,1.9-9.3,1.9
 s-6.5-0.7-9.3-1.9c-2.9-1.2-5.5-3.1-7.7-5.3c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3c0-3.3,0.7-6.5,1.9-9.3
 c1.2-2.9,3.1-5.5,5.3-7.7c2.2-2.2,4.8-3.8,7.7-5.3C262,26.3,265.3,25.8,268.7,25.8z M268.7,62.9c1.7,0,3.1-0.2,4.3-1
 c1.4-0.7,2.6-1.7,3.6-2.9c1-1.2,1.9-2.6,2.4-4.3c0.5-1.7,1-3.3,1-5.3c0-1.7-0.2-3.3-1-5c-0.5-1.7-1.4-2.9-2.4-4.1
 c-1-1.2-2.2-2.2-3.6-2.9c-1.4-0.7-2.9-1-4.3-1c-1.7,0-3.1,0.2-4.3,1c-1.4,0.7-2.6,1.7-3.6,2.9c-1,1.2-1.9,2.6-2.4,4.1
 c-0.5,1.7-1,3.3-1,5c0,1.9,0.2,3.6,1,5.3c0.5,1.7,1.4,2.9,2.4,4.3c1,1.2,2.2,2.2,3.6,2.9C265.6,62.4,267,62.9,268.7,62.9z' />
                      <path id='XMLID_20_' class='st0'
                          d='M304.8,59.3c2.2,0,3.8,0.7,5.3,2.2c1.4,1.4,2.2,3.1,2.2,5.3c0,2.2-0.7,3.8-2.2,5.3
 c-1.4,1.4-3.1,2.2-5.3,2.2c-1.9,0-3.6-0.7-5-2.2c-1.4-1.4-2.2-3.1-2.2-5.3c0-1.9,0.7-3.6,2.2-5C301.2,59.8,302.9,59.1,304.8,59.3z' />
                  </g>
              </svg>
              <p class="footer-text my-3">Copyright &copy; 2021 Xevello.</p>
              <div class="footer-social mt-3">
                  <a href="" uk-icon="icon: instagram; ratio: 0.8"></a>
                  <a href="" uk-icon="icon: linkedin; ratio: 0.8"></a>
                  <a href="" uk-icon="icon: whatsapp; ratio: 0.8"></a>
                  <a href="" uk-icon="icon: twitter; ratio: 0.8"></a>
              </div>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-body uk-text-left">
              <p class="footer-heading">About</p>
              <hr class="my-3">
              <p class="footer-links"><a href="about-us.html">About Us</a></p>
              <p class="footer-links"><a href="blogs.html">Blogs</a></p>
              <p class="footer-links"><a href="contact-us.html">Contact Us</a></p>
              <p class="footer-links"><a href="case-studies.html">Case Studies</a></p>
              <p class="footer-links"><a href="careers.html">Careers</a></p>
              <p class="footer-links"><a href="partners-programs.html">Partners Program</a></p>
          </div>
      </div>
      <div>
          <div class="uk-card uk-card-body uk-text-left">
              <p class="footer-heading">Services</p>
              <hr class="my-3">
              <p class="footer-links"><a href="https://www.xcs.xevello.com/web-development.html">Web Development</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/ui-ux.html">Ui & Ux.</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/logo-branding.html">Logo & Branding</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/software-development.html">Software Development</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/app-development.html">App Development</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/api-development.html">API Development</a></p>
              <p class="footer-links"><a href="https://www.xcs.xevello.com/seo-marketing.html">SEO & Digital Marketing</a></p>

          </div>
      </div>
      <div>
          <div class="uk-card uk-card-body uk-text-left">
              <p class="footer-heading">Products</p>
              <hr class="my-3">
              <p class="footer-links"><a href="pos-retails.html">Create a website</a></p>
              <p class="footer-links"><a href="pos-restaurants.html">Online Store</a></p>

          </div>
      </div>
  </div>
</div>
<div id="side-menu" uk-offcanvas>
  <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <a href="index.html">
      <svg version='1.1' class="side-logo" id='Layer_1' xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 325 85'
          style='enable-background:new 0 0 325 85;' xml:space='preserve'>
          <g>
              <path id='XMLID_3_' class='st0' d='M16.1,73.2l12.4-17L40,61.4l-8.6,11.7H16.1z M48.4,50l17.2,23.2H50.3l0,0l-17-23l-17-23.7h7.4
 c4.8,0,9.1,2.4,11.5,6.5l5.5,9.3l9.6-15.8h15.3h-0.2L48.4,50z' />
              <path id='XMLID_6_' class='st0' d='M85.5,25.8c3.3,0,6.5,0.7,9.3,1.9c2.9,1.2,5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,1.9-0.2,3.6-0.5,5.3v0.2H85.5l-2.9-4.8c-1.2-2.2,0.2-4.8,2.6-4.8h12c-1-2.6-2.4-4.8-4.3-6.5
 c-1.9-1.7-4.3-2.6-7.2-2.6c-1.7,0-3.3,0.2-4.8,1s-2.9,1.7-3.8,2.6c-1.2,1.2-1.9,2.4-2.6,4.1c-0.7,1.7-1,3.3-1,5.3
 c0,1.4,0.2,2.9,1,4.3c0.5,1.4,1.4,2.9,2.4,4.1c1,1.2,2.4,2.4,3.8,3.1c1.4,0.7,3.1,1.2,5,1.2c1.7,0,3.1-0.2,4.5-0.7
 c1.4-0.5,2.6-1.4,4.1-3.1l0,0h0.2l10.8,4.8l-0.2,0.2c-3.1,4.3-7.2,7.2-12.7,9.1c-1.2,0.5-2.6,0.7-3.8,0.7c-4.5,0.5-8.6,0-12.4-1.7
 c-2.9-1.2-5.5-2.9-7.7-5c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3s0.7-6.5,1.9-9.3c1.2-2.9,3.1-5.5,5.3-7.7
 c2.2-2.2,4.8-3.8,7.7-5.3C79,26.3,82.1,25.8,85.5,25.8z' />
              <path id='XMLID_8_' class='st0' d='M120.6,26.5l12,33.7l-8.1,8.6L112.3,39C110.1,33,114.4,26.5,120.6,26.5L120.6,26.5L120.6,26.5z
  M146.2,26.5h13.2l-19.1,46.6h-10.8l3.8-10.8L146.2,26.5z' />
              <path id='XMLID_11_' class='st0' d='M180.7,25.8c3.3,0,6.5,0.7,9.3,1.9s5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,1.9-0.2,3.6-0.5,5.3v0.2h-23.7l-2.6-4.1c-1.4-2.4,0.2-5.5,2.9-5.5h11.5c-1-2.6-2.4-4.8-4.3-6.5
 c-1.9-1.7-4.3-2.6-7.2-2.6c-1.7,0-3.3,0.2-4.8,1s-2.9,1.7-3.8,2.6c-1.2,1.2-1.9,2.4-2.6,4.1c-0.7,1.7-1,3.3-1,5.3
 c0,1.4,0.2,2.9,1,4.3c0.5,1.4,1.4,2.9,2.4,4.1c1,1.2,2.4,2.4,3.8,3.1c1.4,0.7,3.1,1.2,5,1.2c1.7,0,3.1-0.2,4.5-0.7
 c1.4-0.5,2.6-1.4,4.1-3.1l0,0h0.2l10.8,4.8l-0.2,0.2c-2.6,3.8-6.2,6.5-10.5,8.4c-2.6,1-5.5,1.7-8.1,1.7c-3.6,0-6.9-0.5-10.3-1.9
 c-2.9-1.2-5.5-2.9-7.7-5c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3c0-3.3,0.7-6.5,1.9-9.3c1.2-2.9,3.1-5.5,5.3-7.7
 c2.2-2.2,4.8-3.8,7.7-5.3C174,26.3,177.3,25.8,180.7,25.8z' />
              <path id='XMLID_13_' class='st0' d='M221.8,7.9v65.3h-12.4V7.9H221.8z' />
              <path id='XMLID_15_' class='st0' d='M239.7,7.9v65.3h-12.4V7.9H239.7z' />
              <path id='XMLID_17_' class='st0'
                  d='M268.7,25.8c3.3,0,6.5,0.7,9.3,1.9c2.9,1.2,5.5,3.1,7.7,5.3c2.2,2.2,3.8,4.8,5.3,7.7
 c1.2,2.9,1.9,6,1.9,9.3c0,3.3-0.7,6.5-1.9,9.3c-1.2,2.9-3.1,5.5-5.3,7.7c-2.2,2.2-4.8,3.8-7.7,5.3c-2.9,1.2-6,1.9-9.3,1.9
 s-6.5-0.7-9.3-1.9c-2.9-1.2-5.5-3.1-7.7-5.3c-2.2-2.2-3.8-4.8-5.3-7.7c-1.2-2.9-1.9-6-1.9-9.3c0-3.3,0.7-6.5,1.9-9.3
 c1.2-2.9,3.1-5.5,5.3-7.7c2.2-2.2,4.8-3.8,7.7-5.3C262,26.3,265.3,25.8,268.7,25.8z M268.7,62.9c1.7,0,3.1-0.2,4.3-1
 c1.4-0.7,2.6-1.7,3.6-2.9c1-1.2,1.9-2.6,2.4-4.3c0.5-1.7,1-3.3,1-5.3c0-1.7-0.2-3.3-1-5c-0.5-1.7-1.4-2.9-2.4-4.1
 c-1-1.2-2.2-2.2-3.6-2.9c-1.4-0.7-2.9-1-4.3-1c-1.7,0-3.1,0.2-4.3,1c-1.4,0.7-2.6,1.7-3.6,2.9c-1,1.2-1.9,2.6-2.4,4.1
 c-0.5,1.7-1,3.3-1,5c0,1.9,0.2,3.6,1,5.3c0.5,1.7,1.4,2.9,2.4,4.3c1,1.2,2.2,2.2,3.6,2.9C265.6,62.4,267,62.9,268.7,62.9z' />
              <path id='XMLID_20_' class='st0'
                  d='M304.8,59.3c2.2,0,3.8,0.7,5.3,2.2c1.4,1.4,2.2,3.1,2.2,5.3c0,2.2-0.7,3.8-2.2,5.3
 c-1.4,1.4-3.1,2.2-5.3,2.2c-1.9,0-3.6-0.7-5-2.2c-1.4-1.4-2.2-3.1-2.2-5.3c0-1.9,0.7-3.6,2.2-5C301.2,59.8,302.9,59.1,304.8,59.3z' />
          </g>
      </svg>
      </a>
      <hr class="side-hr">
      <div class="uk-width-1-1@s uk-width-1-1@m">
          <ul class="uk-nav-default side-nav uk-nav-parent-icon" uk-nav>
              <li class="uk-active"><a href="#">Home</a></li>
              <li><a href="create-website.html">Website</a></li>
              <li><a href="online-store.html">Online Store</a></li>
              <li><a href="logo-design.html">Logo Design</a></li>
              <li><a href="billing-pos.html">POS & Invoice</a></li>
              <li class="uk-parent">
                  <a href="#">Our Services <span class="uk-float-right" uk-icon="icon: chevron-right;"></span></a>
                  <ul class="uk-nav-sub">
                      <li><a class="side-subnav" href="https://www.xcs.xevello.com">XCS-(Consultancy)</a></li>
                  </ul>
              </li>
          </ul>
      </div>
      <button class="uk-button uk-button-primary uk-margin-large-top uk-width-1-1" style="color: white;">Log
          In</button>
  </div>
</div>
