@import 'variables';
@import 'mixins';
@import 'custom';
/* UIKit */
@import "variables-theme.scss";
@import "mixins-theme.scss";
@import "uikit-theme.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');




body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f8fe;
}

.uk-button-danger {
  background-color: #ce2424;
  text-transform: none;
  border-radius: 8px;
}

.uk-button-danger:hover {
  background-color: #df2525
}

.navbar {
  background-color: #4b0082 !important;
  width: 100%;
}

.uk-navbar-toggle {
  color: white;
  display: none;
}

.uk-navbar-toggle>svg {
  width: 15px !important;
}


.navbar>div>ul>li>a {
  font-size: 10.5pt;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: None;
}

.navbar>div>ul>li:active>a {
  color: grey !important;
}

.navbar>div>ul>li>a:hover {
  color: azure;
}

.navbar-1>div>ul>a {
  width: 125px;
}

.navbar-1>div>ul>a.uk-logo>svg>g>.st0 {
  fill: white;
}


.uk-navbar-nav>li>a,
.uk-navbar-item,
.uk-navbar-toggle {
  min-height: 78px;
}


.xcs-link {
  font-size: 10pt;
  color: #f01154 !important;
}

.nav-profile-grid {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.nav-profile-grid>div>ul>li>a {
  font-size: 10pt !important;
  font-family: 'Poppins', sans-serif;
  color: #071e3d;
}

.nav-profile-grid>div>ul>li:last-child {
  margin-bottom: 5px;
}

.nav-profile-grid>div>ul>li>a:hover {
  color: #581b98;
}

.user-icon {
  display: none;
}

.login-text {
  display: flex;
}


.login-btn {
  background-color: white;
  color: #581b98;
  text-transform: none;
  font-size: 10pt;
  border-radius: 25px;
  border: 1px solid white;
  font-family: 'Poppins', sans-serif;
}

.login-btn:active {
  border: none;
}

.login-btn:hover {
  background: none;
  color: white;
  border: 1px solid white;
}

.drop-heading {
  font-size: 10.5pt;
  color: #686868;
  text-transform: uppercase;
}

.user-name {
  font-size: 12pt;
  color: black;
  text-align: left;
  font-weight: 600;
}

.user-mail {
  font-size: 8pt;
}

.drop-nav>li>a {
  font-size: 10pt;
  color: #482ff7;
}

.drop-nav>li>a:hover {
  color: #4b0082;
  text-decoration: underline;
}

.premium-usericon {
  padding: 8px;
  color: #071e3d;
  background-color: #22eaaa;
  border-radius: 50%;
}

.uk-short-heading {
  font-size: 10pt;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.uk-button-default {
  background-color: white !important;
  padding: 4px 20px;
  color: black;
  border-radius: 6px;
  text-transform: none;
}

.uk-button-default:hover {
  border: 1px solid white;
  background: none !important;
  color: white;
}


.uk-button-primary {
  background-color: #581b98 !important;
  color: white;
  text-transform: capitalize;
  padding: 5px 25px;
  border-radius: 4px;
}

.uk-button-primary:hover {
  background-color: #22eaaa !important;
  color: black !important;
}

.header-heading {
  font-size: 10pt;
  color: #071e3d;
  text-transform: uppercase;
  font-weight: 600;
}

.main-header {
  font-size: 37pt;
  color: #071e3d;
  font-weight: 900;
  width: 96%;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
}

.main-header>span {
  text-decoration: 3px underline #581b98;
}

.header-starting-price {
  font-size: 12pt;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  font-weight: 500;
  color: #581b98;
}

.header-features>li {
  color: #071e3d;
  font-size: 10pt;
  margin: 2px;
}

.header-features>li>span {
  color: #482ff7;
}

.price-grid {
  background-color: white;
  border-radius: 6px;
}

.pricing-offers {
  padding: 12px;
  font-size: 9pt;
  background-color: #22eaaa;
  color: #071e3d !important;
}

.price-title {
  font-size: 22pt;
  color: #071e3d;
  font-weight: 800;
  font-family: 'Playfair Display', sans-serif;
  text-align: left;
  margin-bottom: 5px;
}

.price-details {
  margin-top: 5px;
  font-size: 10pt;
  color: #482ff7;
  text-align: left;
}

.price-button {
  background-color: #071e3d;
  padding: 8px;
  border-radius: 8px;
  color: #22eaaa;
  margin: 10px;
  margin-left: 0px;
  text-transform: none;
}

.price-button:hover {
  background-color: #071e3d;
}

.price-rate {
  font-family: 'Roboto', sans-serif;
  font-size: 26pt;
  color: #071e3d;
  font-weight: 700;
  text-align: left;
}

.price-rate>span {
  font-size: 20pt;
}

.price-renew {
  color: #071e3d;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 10pt;
}

.price-hr {
  border-top: 1px dashed #071e3d;
  margin-top: 10px;
  margin-bottom: 15px;
}

.price-features>ul>li {
  font-size: 10pt;
  color: #071e3d;
}

.uk-button-promo {
  background: none;
  border: 1px solid #f3f3f3;
  color: white;
  text-transform: capitalize;
  padding: 2px 20px;
  border-radius: 12px;
}

.promo-header {
  font-size: 28pt;
  color: white;
  font-weight: 600;
  text-align: center;
}


.pt-plan-name {
  font-size: 12pt;
  color: black;
  text-transform: capitalize;
}

.pt-plan-aslow {
  font-size: 10pt;
  color: #333333;
  font-weight: 400;
  margin-top: 9pt;
  margin-bottom: 0px;
  text-transform: none;
}

.pt-plan-price {
  font-size: 28pt;
  margin-top: 0px;
  color: black;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}


.pt-plan-price>span:last-child {
  font-size: 12pt;
  text-transform: none;
}

.pt-plan-btn {
  background-color: #071e3d;
  padding: 7px;
  color: #22eaaa;
  border-radius: 4px;
  margin: 10px;
  margin-left: 0px;
  text-transform: none;
}

.pt-plan-heading {
  width: 25%;
}

.pt-plan-features {
  font-size: 10pt;
  text-align: left;
  font-weight: 500;
  color: black;
}

.pt-plan-span {
  font-size: 10pt;
  font-weight: 400;
  text-align: center;
  color: rgb(73, 73, 73);
}

.pt-plan-span>span {
  color: #0fa878;
  font-size: 14pt;
}

.pt-plan-span>span.not-ft {
  color: red;
}


.category-badge {
  background-color: #482ff7;
  font-size: 9pt;
  font-weight: 400;
  padding: 12px;
}


.ecommerce-category>div>div>img {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  height: 150px !important;
}

.ecommerce-category>div>div>p {
  font-size: 10pt;
  color: black;
  text-align: left;
}

.login-container {
  height: 100vh;
  background-color: white;
}

.login-grid {
  height: 80vh;
  width: 85%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #071e3d;
}

.login-logo>svg {
  width: 100px;
}

.login-heading {
  font-size: 15pt;
  color: #071e3d;
  font-weight: 600;
}

.login-subheading {
  font-size: 9pt;
  color: #505050;
}

.login-label {
  font-size: 8.5pt;
  text-align: left !important;
  display: block;
  margin-bottom: 6px;
}

.login-input {
  height: 34pt;
  font-size: 10pt;
  border: 1px solid #071e3d;
}

.login-input:focus,.uk-form-icon {
  border: 1px solid #482ff7;
}

.login-select {
  font-size: 9pt !important;
  color: black;
}

.login-select>input:checked{
  background-color: #071e3d !important;
}

.login-submit {
  font-size: 10pt;
  color: #071e3d;
  background-color: white;
  border: 1px solid #071e3d;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 4px;
}

.login-submit:hover {
  background-color: #071e3d !important;
  color: white;
}

.forget_link {
  font-size: 10pt;
  color: #4b0082;
  text-align: left;
  text-transform: capitalize;

}

.create_link {
  font-size: 10pt;
  color: #071e3d;
}

.create_link>a {
  text-transform: capitalize;
}

.create_link>a:hover {
  color: #482ff7;
}

.cart-nextlinks {
  background: none;
  border: 1px solid #071e3d;
  cursor: pointer;
}

.cart-nextlinks:hover {
  cursor: pointer;
}

.cart-nextlinks.active {
  background-color: #482ff7;
  cursor: pointer;
  border: 1px solid #482ff7;
}

.cartlinks {
  font-size: 10pt;
  color: black;
  text-transform: uppercase;
}

.cart-nextlinks.active>.cartlinks{
  color: white;
}

.th_cart{
  border: 0.5px solid #071e3d;
}

.th_cart>tr>th {
  font-size: 10.5pt;
  color: black;
  font-weight: 600;
}

.tb_cart {
  border: 0.5px solid #686868;
}

.tbc_price>span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #071e3d;
}

.tbc_terms>span {
  padding: 3px 10px !important;
  border-radius: 4px;
  border: 1px solid #071e3d !important;
}

.tbc_close>button>span {
  color: #071e3d;
}

.tb_cart>tr>td:nth-child(1){
  color: #071e3d;
  font-size: 10pt;
}

.tb_cart>tr>td:nth-child(2){
  font-size: 9.5pt;
  color: black;
}

.infocart-grid {
  background-color: #f9f9f9;
  border-radius: 4px;
}

.cart-input {
  font-size: 10pt;
  height: 44px;
}

.cart-submit {
  font-size: 10pt;
  color: white;
  background-color: #482ff7 !important  ;
  padding: 3px 25px;
  text-transform: uppercase;
}

.cart-submit:hover {
  background-color: #071e3d !important;
}

.order-summary {
  font-size: 15pt;
  color: black;
  text-align: left;
  font-weight: 600;
}

td.price {
  font-family: 'Roboto', sans-serif;
}

.tds_summary>tbody>tr>td {
  text-align: left;
  font-size: 10pt;
  color: black;
}

.tds_summary>tbody>tr>td.price {
  font-size: 10pt;
  font-weight: 500;
}

.tds_summary>tbody>tr.total>td {
  font-size: 12pt;
  color: black;
  font-weight: 600;
}

.checkout-grid {
  background-color: white;
}

.checkout-heading {
  font-size: 14pt;
  color: black;
  text-align: left;
  margin-bottom: 14px;
  font-weight: 600;
}

.checkout-label {
  font-size: 11pt;
  display: block;
  margin-bottom: 7px;
  color: black;
  font-weight: 500;
  text-align: left;
}

.checkout-label>span {
  color: red;
}

.checkout-input {
  height: 44px;
  border: 1px solid grey;
  font-size: 10pt;
  color: black;
}

.checkout-input::placeholder {
  font-weight: 400 !important;
}

.checkout-input:focus {
  border:  1px solid #071e3d;
}

.checkout-textarea {
  font-size: 10pt;
  color: black;
  border: 1px solid grey;
}

.plan-switcher {
  background-color: #071e3d;
  padding: 4px;
  width: fit-content;
  border-radius: 25px;
  margin: 0 auto;
}

.plan-switcher>li{
  padding-left: 0px;
}

.plan-switcher>li.uk-active>a{
  border-radius: 25px !important;
  background-color: #22eaaa;
  color: #071e3d !important;
  text-transform: capitalize;
}

.plan-switcher>li>a:hover {
  background: none;
}

.plan-switcher>li.uk-active>a:hover {
  background-color: #22eaaa;
}

.plan-switcher>li>a {
  color: white !important;
  text-transform: capitalize !important;
  font-size: 10pt !important;
  font-weight: 500;
}

.about_us-header {
  font-size: 32pt;
  color: #071e3d;
  font-weight: 700;
  text-align: center;
  width: 60%;
}

.about_us-subheader {
  font-size: 10.5pt;
  color: black;
  width: 55%;
  text-align: center;
}

.about-us_demos {
  text-align: center;
}

.about-us_gs {
  font-size: 10pt;
  color: black;
  background: none;
  text-transform: capitalize;
  border: 1px solid #071e3d;
  border-radius: 25px;
  padding: 2px 20px;
}

.about-us_gs:hover {
  background-color: #071e3d;
  color: white;
  border: 1px solid #071e3d;
}

.about-us_dms {
  font-size: 10pt;
  color: #071e3d;
  margin-left: 10px;
 text-transform: none;
}

.about_brands-slider {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.partners-list>li>div>img {
  width: 145px !important;
}

.about-slider_container>div>div>div>div>ul>li>div>img {
  width: 110px;
}

.about-slider_container {
  bottom: 70px; position: relative;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.o_mission-header {
  font-size: 28pt;
  font-weight: 600;
  text-align: left;
  width: 80%;
  color: #071e3d;
}

.o_mission-header>span {
  color: #482ff7;
}

.o_mission-subheader {
  font-size: 11pt;
  color: grey;
  text-align: left;
  width: 80%;
}

.o_mission-img {
  height: 100%;
  object-fit: cover;
}

.o_mission-title {
  font-size: 28pt;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #071e3d;
  text-align: center;
}

.o_mission-grid {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.ot-name {
  font-size: 12pt;
  color: black;
  font-weight: 600;
  margin: 0px;
}

.ot-title {
  font-size: 9pt;
  color: #505050;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.ot-icon {
  margin-top: 10px ;
}

.ot-icon>a {
  margin-right: 20px;
  color: #686868;
}

.ot-icon>a:last-child {
  margin-right: 0px;
}

.projects-switcher>li>a {
  text-transform: capitalize !important;
  font-size: 10pt;
  color: #071e3d !important;
}

.projects-switcher>.uk-active>a {
  background: none !important;
  border-bottom: 1px solid #071e3d;
}

.projects-grid {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.projects-icon {
  width: 60px !important;
}

.projects-title {
  font-size: 10.5pt;
  color: black;
}

.aboutus-title {
  font-size: 28pt;
  color: black;
  font-weight: 600;
  width: 90%;
}

.aboutus-title>span {
  color: #482ff7;
}

.aboutus-details {
  font-size: 10.5pt;
  color: rgb(53, 52, 52);
  text-align: left;
}

.invest-note {
  font-size: 10pt;
  color:grey;
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
}

.invest-note>a {
  text-decoration: underline;
  color: #482ff7;
}

.contact-heading {
  font-size: 22pt;
  color: black;
  text-align: center;
  font-weight: 600;
}

.contact-subheading {
  font-size: 10pt;
  text-align: center;
  width: 35%;
}

.contactinfo-grid {
  background-color: #071e3d;
}

.cinfo-title {
  font-size: 16pt;
  color: white;
  text-transform: capitalize;
  text-align: left;
}

.cinfo-subtitle {
  font-size: 9.5pt;
  color: white;
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
}

.contact-info {
  color: white;
  text-align: left;
  font-size: 11pt;
  margin-top: 10px;
}

.contact-label {
  font-size: 9pt;
  color: #071e3d;
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}

.contact-input {
  border: none;
  border-bottom: 1px solid #071e3d;
  color: black !important;
  font-size: 10pt;
  text-align: left;
  padding-left: 0px;
}

.contact-input:focus {
  border-bottom: 1px solid #22eaaa;
}

.contact-textarea {
  border: none;
  border-bottom: 1px solid #071e3d;
  color: black;
  font-size: 10pt;
  text-align: left;
  padding-left: 0px;
}

.contact-textarea:focus {
  border-bottom: 1px solid #22eaaa;
}


@media only screen and (max-width: 1200px) {
  .about_brands-slider {
    bottom: 50px !important;
  }
}

@media only screen and (max-width: 1100px) {

  .uk-navbar-toggle {
    display: flex;
  }

  .navbar>div>ul>li {
    display: none;
  }

  .login-btn {
    background: none;
    color: white;
    padding: 0px;
    border: none;
  }

  .login-text {
    display: none;
  }

  .user-icon {
    display: flex;
  }

  .login-btn:hover {
    background: none;
    color: white;
    border: none !important;
  }

  .cartlinks-box {
    display: none;
  }

  .about_us-header {
    font-size: 26pt;
  }

  .about-slider_container {
    bottom: 20px !important;
  }
}


@media only screen and (max-width: 900px) {
  .navbar-header-1 {
    height: 400px !important;
  }
  .cart-container {
    padding: 20px !important;
  }

  .about-slider_container{
    margin: 10px;
  }

  .o_mission-header {
    font-size: 20pt;
    width: 100%;
    text-align: left;
  }

  .o_mission-subheader {
    width: 100%;
    text-align: left;
    margin-bottom: 20px !important;
  }

  .contact-heading {
    font-size: 18pt;
  }

  .contact-subheading {
    width: 100%;
    margin-top: 5px !important;
  }
}

@media only screen and (max-width: 700px) {

  .navbar-header-1 {
    height: 360px !important;
  }

  .ecommerce-category>div>div>img {
    height: 120px !important;
  }

  .header-img {
    height: 280px;
  }

  .header-heading {
    font-size: 9.5pt;
  }

  .main-header {
    font-size: 21pt;
  }

  .header-starting-price {
    font-size: 10pt;
  }

  .header-features>li {
    font-size: 9.5pt;
  }

  .features-slider>ul>li>div {
    padding: 10px !important;
  }

  .features-slider>ul>li>div>p {
    text-align: center !important;
  }

  .pricing-title {
    font-size: 16pt;
    margin-bottom: 0px !important;
  }

  .cw-category-title,
  .cw-category-title-2 {
    font-size: 19pt;
  }

  .cw-category-details,
  .cw-category-details-2 {
    font-size: 10pt;
  }

  .promo-header {
    font-size: 22pt;
    margin: 10px;
  }

  .login-grid {
    width: 100%;
    border: none;
  }

  .about_us-header {
    width: 100%;
    font-size: 18pt;
  }

  .about_us-subheader {
    width: 92%;
    font-size: 10pt;
  }

  .about-slider_container {
    bottom: 50px !important;
  }

  .contact-banner-heading {
    font-size: 18pt;
  }

  .hw-contact-heading {
    font-size: 14pt;
  }
}
