<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove">
  <div class="uk-card uk-card-default secondary-header uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
          <img src="assets/website-header.jpg" alt="" uk-cover>
          <canvas></canvas>
      </div>
      <div>
          <div class="uk-card-body " style="background-color: #b0d5ff;">
              <p class="header-heading py-4">Create website</p>
              <p class="main-header">Give your business a professional look with your <span> own website.
                  </span></p>
              <p class="header-starting-price py-3">As low as ₹1499.</p>
              <ul class="uk-list header-features">
                  <li> <span uk-icon="icon:check; ratio:0.8;"></span> 2 Unique Logo Designs</li>
                  <li> <span uk-icon="icon:check; ratio:0.8;"></span> 4 Revisions</li>
              </ul>
              <button
                  class="uk-button uk-margin-medium-bottom uk-button-primary uk-width-1-4@m uk-width-1-2@s uk-width-1-1 my-6">See
                  Pricing</button>
          </div>
      </div>
  </div>
</div>

<div class="uk-container uk-container-medium uk-padding-large">
  <p class="pricing-header">pricing plans</p>
  <p class="pricing-title">Pricing Plans that scales <br> with your business.</p>
  <div class="uk-child-width-1-2@s uk-flex-center uk-child-width-1-3@m uk-margin-medium-top uk-text-center uk-grid-match"
      uk-grid>
      <div>
          <div class="uk-card price-grid uk-card-body">
              <p class="price-title">Basic</p>
              <p class="price-details uk-margin-remove-bottom">For small business & individual.</p>
              <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹1499<span></span></p>
              <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
              <hr class="price-hr">
              <div class="price-features">
                  <ul class="uk-list uk-list-disc uk-text-left">
                      <li>List item 1</li>
                      <li>List item 2</li>
                      <li>List item 3</li>
                  </ul>
              </div>

          </div>
      </div>
      <div>
          <div class="uk-card price-grid uk-card-body">
              <p class="price-title">Start-Up</p>
              <p class="price-details uk-margin-remove-bottom">For Start-Ups & Enterprise</p>
              <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹2799<span></span></p>
              <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
              <hr class="price-hr">
              <div class="price-features">
                  <ul class="uk-list uk-list-disc uk-text-left">
                      <li>List item 1</li>
                      <li>List item 2</li>
                      <li>List item 3</li>
                  </ul>
              </div>

          </div>
      </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large  uk-bg-pm">
  <div class="uk-card contact-banner-heading uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="assets/SEO@2x.png" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
      </div>
      <div>
          <div class="uk-card-body">
              <span class="uk-badge category-badge">SEO</span>
              <p class="cw-category-title uk-margin-small">Get your business name on <span>Google</span> </p>
              <p class="cw-category-details uk-margin-remove-top">Our SEO experts believe that a successful
                  strategy starts with a deep understanding of our clients’ challenges, objectives, and target
                  audience. Keeping our employee-client ratio low, allows us to dedicate more time to each
                  account, allowing us to build out an SEO strategy that aligns with your brand values and
                  audience intent.</p>
          </div>
      </div>
  </div>
</div>
<div class="uk-container uk-container-medium uk-padding-large">

  <p class="et-heading uk-margin-medium-bottom">Our Recent's</p>

</div>
<div class="uk-container uk-container-xlarge uk-padding-remove uk-bg-pr">
  <div class="uk-container uk-container-medium uk-padding-large">
      <p class="promo-header uk-align-center">Want to start you online shopping store? </p>
      <button class="uk-button uk-button-promo uk-align-center">Read More</button>
  </div>
</div>
<app-footer></app-footer>
