<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove">
  <div class="uk-card uk-card-default secondary-header uk-grid-collapse uk-child-width-1-2@s uk-margin " uk-grid>
    <div class="uk-flex-last@s uk-card-media-right header-img uk-cover-container">
      <img src="assets/img/pos-header.jpg" alt="" uk-cover>
      <canvas></canvas>
    </div>
    <div>
      <div class="uk-card-body " style="background-color: #104144;">
        <p class="header-heading py-4" style="color: white;">POS & BILLING</p>
        <p class="main-header" style="color: white;">Track of all the business operations from anywhere <span
            style="text-decoration: none;"> with Xevello POS.
          </span></p>
        <p class="header-starting-price py-3" style="color: white;">As low as ₹1399/mo.</p>
        <ul class="uk-list header-features">
          <li style="color: white !important;"> <span uk-icon="icon:check; ratio:0.8;" style="color: white;"></span>
            Modern Good Looking Website</li>
          <li style="color: white !important;"> <span uk-icon="icon:check; ratio:0.8;" style="color: white;"></span>
            Modern Good Looking Website</li>
        </ul>
        <button
          class="uk-button uk-margin-medium-bottom uk-button-primary uk-width-1-4@m uk-width-1-2@s uk-width-1-1 my-6">See
          Pricing</button>
      </div>
    </div>
  </div>
</div>

<div class="uk-container uk-container-medium uk-padding-large">
  <p class="pricing-header">pricing plans</p>
  <p class="pricing-title mb-20">Pricing Plans that scales <br> with your business.</p>
  <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-medium-top uk-text-center uk-grid-match" uk-grid>
    <div>
      <div class="uk-card price-grid uk-card-body">
        <span class="pricing-offers uk-badge uk-float-right">Upto 40% Off</span>
        <p class="price-title">Retail</p>
        <p class="price-details uk-margin-remove-bottom">For Self Employed & Individuals.</p>
        <p class="price-rate uk-
        margin-small-top uk-margin-remove-bottom">₹1399/<span>mo.</span></p>
        <p class="price-renew uk-margin-remove-top">₹ 1699.00/mo when you renew <sup> 4</sup></p>
        <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
        <hr class="price-hr">
        <div class="price-features">
          <ul class="uk-list uk-list-disc uk-text-left">
            <li>100,000 Invoices</li>
            <li>Purchase Management</li>
            <li>Customers Management</li>
          </ul>
        </div>

      </div>
    </div>
    <div>
      <div class="uk-card price-grid uk-card-body">
        <span class="pricing-offers uk-badge uk-float-right">Upto 40% Off</span>
        <p class="price-title">Wholesale</p>
        <p class="price-details uk-margin-remove-bottom">For small Start-Ups & Business.</p>
        <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹2199/<span>mo.</span></p>
        <p class="price-renew uk-margin-remove-top">₹ 2399/mo when you renew <sup> 4</sup></p>
        <button class="uk-button price-button uk-width-1-1">Add to Cart</button>
        <hr class="price-hr">
        <div class="price-features">
          <ul class="uk-list uk-list-disc uk-text-left">
            <li>250,000 Invoices</li>
            <li>HRM</li>
            <li>E-Mail Integration</li>
          </ul>
        </div>

      </div>
    </div>
    <div>
      <div class="uk-card price-grid uk-card-body">
        <span class="pricing-offers uk-badge uk-float-right">Upto 40% Off</span>
        <p class="price-title">Enterprise</p>
        <p class="price-details uk-margin-remove-bottom">For Large Entrprise & Companies.</p>
        <p class="price-rate uk-margin-small-top uk-margin-remove-bottom">₹4299/<span>mo.</span></p>
        <p class="price-renew uk-margin-remove-top">₹ 4899/mo when you renew <sup> 4</sup></p>
        <button class="uk-button price-button m-0 uk-width-1-1">Add to Cart</button>
        <hr class="price-hr">
        <div class="price-features">
          <ul class="uk-list uk-list-disc uk-text-left">
            <li>Unlimited Invoices</li>
            <li>Wareshouse Management</li>
            <li>SMS Integration</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="uk-text-center">
    <a href="" class="uk-button uk-button-primary mt-10 uk-flex-center">Show Details</a>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large uk-bg-pm">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/pos-banner1.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <span class="uk-badge category-badge p-2">Track Inventory</span>
        <p class="cw-category-title uk-margin-small">Tracking every product that determines the  <span>profit or loss</span> </p>
        <p class="cw-category-details uk-margin-remove-top">Proper inventory management helps you figure out exactly how much inventory you need to have on-hand. This will help prevent product shortages and allow you to keep just enough inventory without having too much in the warehouse.

          Once you fill out the racks and shelves of your retail unit, premises, or warehouse, you need to have clear visibility of the inventory. By accounting the items, you can control invoice quantity according to the stock. It will avoid instances where you bill your customer and later apologise for not having the item in your store.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-white uk-overflow-auto">
  <table class="uk-table ">
    <thead>
      <tr>
        <th class="pt-plan-heading"></th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹1399.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹2199.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
        <th class="pt-plan-heading">
          <p class="pt-plan-name mt-10">Starter</p>
          <p class="pt-plan-aslow">As low as</p>
          <p class="pt-plan-price">₹4299.00<span>/mo</span></p>
          <button class="uk-button uk-width-1-1 pt-plan-btn">Add to Cart</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pt-plan-features">Invoices</td>
        <td class="pt-plan-span">100,000 Invoices </td>
        <td class="pt-plan-span">250,000 Invoices </td>
        <td class="pt-plan-span">Unlimited Invoices </td>
      </tr>
      <tr>
        <td class="pt-plan-features">Purchase</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Point of Sale (POS)</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Products</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Customer Management</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>

      <tr>
        <td class="pt-plan-features">Expense</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Quotation</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Accounts / Finance</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Tax</td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Reports </td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>

      <tr>
        <td class="pt-plan-features">Discounts & Coupon </td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Users</td>
        <td class="pt-plan-span">5 </td>
        <td class="pt-plan-span">9 </td>
        <td class="pt-plan-span">20 </td>
      </tr>
      <tr>
        <td class="pt-plan-features">Back Up </td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Employee Management / HRM</td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Email Integration</td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">SMS Integration </td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Warehouse Management</td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Custom Domain</td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round not-ft">
            close
          </span></td>
        <td class="pt-plan-span"><span class="material-icons-round">
            done
          </span></td>
      </tr>
      <tr>
        <td class="pt-plan-features">Delivery </td>
        <td class="pt-plan-span">2 Days</td>
        <td class="pt-plan-span">4 Days</td>
        <td class="pt-plan-span">7 Days</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="uk-container uk-container-large uk-padding-large  uk-bg-pm">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="assets/img/pos-banner2.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <span class="uk-badge category-badge p-2">Manage with ease</span>
        <p class="cw-category-title uk-margin-small">Manage billing for your retail <span>easily</span> </p>
        <p class="cw-category-details uk-margin-remove-top">The billing process of a company can be just as important as the product or service that they sell. If a customer is not happy with payment terms or it’s hard for them to pay they will most probably choose to look elsewhere for their business.

          Knowing how to efficiently handle billing process can greatly impact the reliability and reputation of a company.

          For a small business, billing can be overwhelming. But it doesn’t have to be. </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-large uk-padding-large">
  <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
      <img src="assets/img/pos-banner3.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <span class="uk-badge category-badge">Restaurant POS</span>
        <p class="cw-category-title-2 uk-margin-small">Restaurant Point of Sale <br> <span> ! Coming Soon</span></p>
        <p class="cw-category-details-2 uk-margin-remove-top">
          The billing process of a company can be just as important as the product or service that they sell. If a customer is not happy with payment terms or it’s hard for them to pay they will most probably choose to look elsewhere for their business.

Knowing how to efficiently handle billing process can greatly impact the reliability and reputation of a company.

For a small business, billing can be overwhelming. But it doesn’t have to be. </p>
      </div>
    </div>
  </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove uk-bg-pr">
  <div class="uk-container uk-container-medium uk-padding-large">
    <p class="promo-header uk-align-center">Want to start you online shopping store? </p>
    <button class="uk-button uk-button-promo uk-align-center">Read More</button>
  </div>
</div>
<app-footer></app-footer>
